.show { display: block !important; }
.hide { display: none !important; }
.show-on-extra-large { display: none !important; }
.show-on-large { display: none !important; }
.show-on-medium { display: none !important; }
.show-on-small { display: none !important; }
.show-on-medium-and-up { display: none !important; }
.show-on-medium-and-down { display: none !important; }