  @media (max-width: 600px) {
    .hide-on-small-only, .hide-on-small-and-down {
      display: none !important;
    }
  }
  
  @media (max-height: 592px) { .height100vh { height: 85vh; } }
  @media (max-height: 560px) { .height100vh { height: 84.5vh; } }
  @media (max-height: 530px) { .height100vh { height: 83.5vh; } }
  @media (max-height: 500px) { .height100vh { height: 82.5vh; } }
  @media (max-height: 470px) { .height100vh { height: 81.5vh; } }
  @media (max-height: 440px) { .height100vh { height: 80.5vh; } }
  @media (max-height: 410px) { .height100vh { height: 79vh; } }
  @media (max-height: 380px) { .height100vh { height: 77vh; } }
  @media (max-height: 350px) { .height100vh { height: 75vh; } }
  @media (max-height: 320px) { .height100vh { height: 73vh; } }
  @media (max-height: 290px) { .height100vh { height: 69vh; } }
  @media (max-height: 260px) { .height100vh { height: 66vh; } }
  @media (max-height: 230px) { .height100vh { height: 63vh; } }
  @media (max-height: 200px) { .height100vh { height: 57vh; } }
  @media (max-height: 197px) { .height100vh { height: 55vh; } }
  @media (max-height: 170px) { .height100vh { height: 50vh; } }
  
  @media (max-width: 992px) {
    .hide-on-med-and-down {
      display: none !important;
    }
  }
  
  @media (min-width: 601px) {
    .hide-on-med-and-up {
      display: none !important;
    }
  }
  
  @media (min-width: 600px) and (max-width: 992px) {
    .hide-on-med-only {
      display: none !important;
    }
  }
  
  @media (min-width: 993px) {
    .hide-on-large-only {
      display: none !important;
    }
  }
  
  @media (min-width: 1201px) {
    .hide-on-extra-large-only {
      display: none !important;
    }
  }
  
  @media (min-width: 1201px) {
    .show-on-extra-large {
      display: block !important;
    }
  }
  
  @media (min-width: 993px) {
    .show-on-large {
      display: block !important;
    }
  }
  
  @media (min-width: 600px) and (max-width: 992px) {
    .show-on-medium {
      display: block !important;
    }
  }
  
  @media (max-width: 600px) {
    .show-on-small {
      display: block !important;
    }
  }
  
  @media (min-width: 601px) {
    .show-on-medium-and-up {
      display: block !important;
    }
  }
  
  @media (max-width: 992px) {
    .show-on-medium-and-down {
      display: block !important;
    }
  }