#app { overflow: auto !important; }
.white-border { border: 4px solid var(--white); }
.radius-4 { border-radius: 4px !important;}
.radius-8 { border-radius: 8px !important;}
.truncate-text {
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}
.pointer { cursor: pointer; }
.fade-enter-active, .fade-leave-active { position: absolute; transition: opacity 0.12s; }
.fade-enter-from, .fade-leave-to { opacity: 0; }
.fade-enter-to, .fade-leave-from { opacity: 1; }
.white-btn { background: var(--white) !important; }
.head-page {
    padding: 8px;
    min-height: 32px;
    display: flex;
}
.border-left-white { border-left: 4px solid var(--white); }
.border-right-white { border-right: 4px solid var(--white); }
.big-avatar {
    width: 128px !important;
    height: 128px !important;
}
.flag-cell {
    height: 20px;
    width: 34px;
    margin-left: -12px;
}
.color-0 { background: #E8F8F4 !important; }
.color-1 { background: #D0F0E8 !important; }
.color-2 { background: #A1E1D1 !important; }
.color-3 { background: #8BDAC5 !important; }
.color-4 { background: #4AC1A2 !important; }
.cortina {
    background: var(--black);
    opacity: 0.6;
}
.yellow-btn {
    background: var(--warning) !important;
    border: 1px solid var(--warning) !important;
}
.bg-container { background: var(--container) !important; }
.bg-container-light { background: var(--container-light) !important; }
.list-separator { border-bottom: 2px solid #DFDBD5; }
.green-circle-icon {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: var(--primary);
}